// nav-om -large sizes
.nav-om {
  gap: 48px;
  z-index: 1;
  position: fixed;
  top: 0;
  right: -100%;
  height: 100%;
  width: 413px;
  z-index: 1111;
  padding: 20px;
  transition: 0.5s;
  overflow-y: auto;
  display: block;
  padding: 50px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 25px;

  @include xs {
    width: 80%;
    padding: 20px;
    padding-top: 50px;
  }

  .close-button__,
  .nav_logo__ {
    display: none;
  }

  .menu_head__ {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 3.5rem;
  }

  .nav_title {
    font-size: 1.7rem;
    font-weight: 700;
    color: $paragraphMainColor;
    margin: 0;
  }

  .nav-list-om {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    gap: 2rem;

    > li {
      cursor: pointer;

      > a,
      .button__ {
        font-size: 1.8rem;
        font-weight: 700;
        color: $headingMainColor;
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: flex-start;
        text-transform: capitalize;
        text-decoration: none;
        padding: 0;
        margin: 0;
        cursor: pointer;
        transition: 0.5s;

        &:hover {
          color: $secondaryColor;
        }
      }
    }
  }
}

// nav-om  sm - xs size
.nav-om {
  .nav_logo__ {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    // margin-bottom: 10px;
    filter: brightness(0) invert(1);
    max-width: 150px;
  }

  .close-button__ {
    display: block;
  }



  @include dir {
    left: -100%;
    right: unset;
  }

  &.active-menu {
    right: 0;

    @include dir {
      left: 0;
      right: unset;
    }
  }

}
