.lang_list {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  gap: 2rem;

  > li {
    cursor: pointer;

    > a,
    .button__ {
      font-size: 1.8rem;
      font-weight: 700;
      color: $headingMainColor;
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: flex-start;
      text-transform: capitalize;
      text-decoration: none;
      padding: 0;
      margin: 0;
      cursor: pointer;
      transition: 0.5s;

      &:hover {
        color: $secondaryColor;
      }
    }

    &.active {
      position: relative;
      width: 100%;

      > a,
      .button__ {
        color: $secondaryColor;
      }

      &::after {
        content: url("../images/shapes/check_icon.svg");
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        inset-inline-end: 15px;
        width: 21px;
        height: 21px;
      }
    }
  }
}