.menu_button__ {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 62px;
  height: 62px;
  color: $primaryColor;
  border-radius: 50%;
  margin-inline-end: 4rem;
  background: linear-gradient(
    90deg,
    $primaryColor 0%,
    $secondaryColor 50%,
    $thirdColor 100%
    !important
  );
  flex-shrink: 0;

  @include xs {
    width: 40px;
    height: 40px;
    margin-inline-end: 2rem;
  }

  svg {
    width: 25px;

    @include xs {
      width: 20px;
    }
  }

  &:hover {
    background: linear-gradient(
      180deg,
      $primaryColor 0%,
      $secondaryColor 50%,
      $thirdColor 100%
      !important
    );
  }
}

.header_lang_wrapper {
  margin-inline-start: auto;

  @include sm {
    display: none;
  }
}

.lang_link__ {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 1.6rem;
  padding: 10px 0;
  transition: 0.5s;
  z-index: 10;
  color: #000;

  .figure__ {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  &::after {
    content: url(../images/shapes/arrow_down.svg);
    margin-inline-start: 5px;
  }

  @include sm {
    color: #fff;
    filter: brightness(0) invert(1);
  }
}

.notification_link__ {
  background-color: rgba($secondaryColor, 0.1);
  position: relative;

  .figure__ {
    filter: invert(0.61) sepia(0.17) saturate(68.72) hue-rotate(3deg)
      brightness(0.96) contrast(0.98);
  }

  &:hover {
    background-color: rgba($secondaryColor, 1);

    .figure__ {
      filter: brightness(0) invert(1);
    }
  }

  &.has_notification {
    &::before {
      content: "";
      position: absolute;
      background-color: $mainRedColor;
      top: 0;
      inset-inline-start: 0;
      border: 3px solid #fff;
      border-radius: 50%;
      width: 18px;
      height: 18px;

      @include xxs {
        border-width: 1px;
        width: 8px;
        height: 8px;
        top: 2px;
        inset-inline-start: 2px;
      }
    }
  }
}

// large sizes

.toolbar_options__ {
  display: flex;
  align-items: center;
  padding: 0;
  // position: relative;
  z-index: 1;
  // margin-top: 10px;
  flex-wrap: nowrap;

  .block__ {
    transition: 0.5s;

    &.lang_list_item__ {
      @include sm {
        position: absolute;
        top: 15px;
        inset-inline-start: 15px;
      }
    }

    &.info_link_item__ {
      width: 280px;
      height: 46px;
      border: 1px solid $borderColor;
      border-radius: $mainBorderRadius;
      display: flex;
      align-items: center;

      .figure__ {
        border-radius: 50%;
        overflow: hidden;
        border: 1px solid $borderColor;
        background-color: #fff;
        width: 50px;
        height: 50px;
        max-width: 50px;
        max-height: 50px;
        min-width: 50px;
        min-height: 50px;
        padding: 10px;
        margin-inline-end: 10px;
      }
    }

    &.log_out_item__ {
      margin-inline-start: 10px;

      .icon__ {
        transform: rotate(-90deg);

        @include dir {
          transform: rotate(90deg);
        }
      }
    }

    &.header_contacts__ {
      display: flex;
      align-items: center;
      gap: 20px;
    }

    &.small_size_only__ {
      display: none;

      @include sm {
        display: flex;
      }
    }
  }
}

// small size
.toolbar_options__ {
  // margin-top: 20px;
  width: 100%;
  min-width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 15px;

  .block__ {
    &.lang__ {
      position: absolute;
      top: 20px;
      inset-inline-start: 20px;

      .lang_link__ {
        font-size: 1.2rem;
        width: fit-content;

        &::after {
          display: none;
        }
      }
    }

    &.info_link_item__ {
      width: 100%;

      &:hover {
        .info_link_block__ {
          &::after {
            filter: unset !important;
            background-color: transparent;
            content: url(../images/shapes/header_info_dropdown_more_icon_white.svg);
            border-end-end-radius: 0;
          }
        }
      }

      .user_name__ {
        color: #fff;
      }
    }

    &.dropdown__ {
      order: 5;
    }

    &.sing_up_blocks_list_item__ {
      width: 100%;
      order: 1;
    }

    &.lang_list_item__ {
      order: 3;
    }

    &.search_mode {
      display: unset;
    }
  }
}
