.home_slider_section {
  position: relative;
  overflow: hidden;

  .swiper-slide {
    position: relative;

    > .figure__ {
      padding-bottom: 100svh;

      @include xs {
        min-height: 90vh;
      }
    }

    &::after,
    &::before {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: 30%;
      opacity: 0.76;
      z-index: 1;
    }

    &::after {
      background: linear-gradient(180deg, #000 0%, transparent 100%);
      top: 0;
    }

    &::before {
      background: linear-gradient(0deg, #000 0%, transparent 100%);
      top: unset;
      height: 70%;
      opacity: 1;
      bottom: 0;
    }
  }

  .slider_content {
    position: absolute;
    bottom: 90px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 640px;
    z-index: 2;

    @include xs {
      bottom: 60px;
    }

    .title__ {
      font-size: 3rem;
      font-weight: 700;
      color: #fff;
      text-align: center;
      text-transform: capitalize;
      line-height: 1.7;
      margin-bottom: 1rem;

      @include sm {
        font-size: 2.4rem;
        line-height: 1.3;
      }
    }

    .subtitle__ {
      font-size: 2rem;
      font-weight: 700;
      color: #fff;
      text-align: center;
      text-transform: capitalize;
      line-height: 1.7;
      margin-bottom: 0.8rem;

      @include dir {
        max-width: 500px;
        word-wrap: break-word;
        
        @include sm {
          max-width: 250px;
          
        }
      }

      @include sm {
        font-size: 1.6rem;
        line-height: 1.3;
      }
    }
  }

  .button__ {
    @include xs {
      height: 40px;
    }
  }
}

.about_sec__ {
  .img_wrapper__ {
    padding: 2rem;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      inset-inline-start: 0;
      bottom: 0;
      border-width: 180px 140px;
      border-style: solid;
      border-color: transparent rgba($secondaryColor, 0.23)
        rgba($secondaryColor, 0.23) transparent;
      z-index: -1;
    }
  }

  .figure__ {
    padding-bottom: 144.9519230769%;
  }

  .main_parag__ {
    font-size: 1.8rem;
    font-weight: 700;
    color: $headingMainColor;
    line-height: 1.5;
    margin-bottom: 1.8rem;
  }

  .parag__ {
    font-size: 1.8rem;
    font-weight: 400;
    color: $headingMainColor;
    line-height: 2;
    margin-bottom: 1.8rem;
  }
}

.statistics_sec__ {
  position: relative;
  background-color: $secondaryColor;
  background: linear-gradient(
    90deg,
    $primaryColor 0%,
    $secondaryColor 40%,
    $thirdColor 100%
  );
  padding-top: 12rem;

  @include xs {
    padding: 6rem 0;
  }

  .statistics_bg__ {
    position: absolute;
    background-image: url("../images/statistics/statistics_bg.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    inset: 0;
  }

  .main_title__ {
    color: #fff;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 8.5rem;
    font-size: 4rem;
    font-weight: 700;
    position: relative;
    width: fit-content;

    &::after {
      content: "";
      position: absolute;
      inset-inline-start: 0;
      bottom: -37px;
      width: 72px;
      height: 12px;
      background-color: #fff;
    }
  }

  &::after,
  &::before {
    position: absolute;
  }

  &::after {
    content: url(../images/shapes/statistics_shape_1.svg);
    top: 0;
    inset-inline-start: 0;
  }

  &::before {
    content: url(../images/shapes/statistics_shape_2.svg);
    bottom: 0;
    inset-inline-end: 0;
  }
}

.our_goals_sec__ {
  .figure__ {
    padding-bottom: 30.737134%;
  }

  .parag__ {
    font-size: 1.5rem;
    font-weight: 400;
    color: $paragraphSecondaryColor;
    line-height: 1.8;
  }

  .our_goals_and_messages_row__ {
    div {
      @include sm {
        &:nth-child(3) {
          order: 4;
        }
        &:nth-child(4) {
          order: 3;
        }
      }
    }
  }
}

.our_values_sec__ {
  .our_values_wrapper__ {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    gap: 1rem;
  }
}

.branches_sec__ {
  background-color: rgba($secondaryColor, 0.06);
}

.clients_sec__ {
  .swiper-slide {
    opacity: 0.3;

    .title__ {
      font-size: 1.6rem;
      font-weight: 700;
      color: $headingMainColor;
      margin-top: 1.5rem;
    }

    .figure__ {
      max-height: 150px;
      min-height: 150px;
      height: 150px;
    }

    &.swiper-slide-active {
      opacity: 1;
    }
  }
}
