.section_page {
  .img_wrapper {
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;

    .figure__ {
      padding-bottom: 30.5466%;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
  
      &::after {
        content: "";
        position: absolute;
        inset: 0;
        background-color: rgba(#000, 0.41);
      }
    }
    
  }

  .content_wrapper__ {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 4rem 2.5rem;
    min-height: 380px;
  }

  .title__ {
    font-size: 2.5rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 1.5rem;
  }

  .parag__ {
    font-size: 1.4rem;
    font-weight: 400;
    color: #fff;
    overflow: hidden;
    line-height: 2.5rem;
  }
}