.trip_single_page {
  .figure__ {
    padding-bottom: 84.29394812%;
  }

  .title__ {
    font-size: 2.3rem;
    font-weight: 700;
    color: $headingMainColor;
    margin-bottom: 3.5rem;
  }

  .trip_info_wrapper__ {
    margin-bottom: 2.5rem;
  }
}