.footer_sec__ {
  position: relative;
  background-blend-mode: overlay;
  background-size: cover;
  background: linear-gradient(186deg , $primaryColor 0%, $secondaryColor 50% , $thirdColor 100%);
  padding-top: 50px;
  padding-bottom: 50px;
  overflow: hidden;
}

.footer_logo__ {
  margin-bottom: 15px;
  max-width: 55px;
  max-height: 35px;
}

.footer_head__ {
  font-size: 1.6rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 3.5rem;
}

.footer_list__ {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  margin: 0 auto;
  column-gap: 40px;
  row-gap: 15px;
  margin-bottom: 40px;
  padding: 0;

  @include xs {
    gap: 10px;
  }

  a {
    font-size: 1.5rem;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
    display: flex;
    align-items: center;
    text-align: start;
    gap: 15px;

    img {
      max-width: 15px;
      max-height: 15px;
    }

    &::before {
      content: url("../images/shapes/footer_list_line.svg");
      opacity: 0.4;
      transition: 0.5s;
    }

    &:hover {
      margin-inline-start: 5px;
    }
  }
}

.footer_contacts {
  li {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}

.footer_socials__ {
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: center;
  // align-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(41px, 1fr));
  gap: 10px;
  margin-bottom: 2.5rem;

  .link__ {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 41px;
    height: 41px;
    transition: 0.5s;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 8px;

    img {
      filter: none;
      max-height: 80%;
    }

    &:hover {
      background-color: rgba(#fff , 0.2);
    }
  }
}

.copyrights_content___ {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin: 0;
  font-size: 1.4rem;

  border: 0;

  @include sm {
    padding: 20px 0;
    justify-content: center;
  }

  .copyright_icon__,
  .copyright_logo__ {
    filter: brightness(0) invert(1);
  }

  .copyright_icon__ {
    margin-inline-end: 10px;
  }

  .copyright_logo__ {
    margin-inline-start: 10px;
  }
}
