// swiper slider
.swiper-button-next,
.swiper-button-prev {
  width: 30px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid $secondaryColor;
  transition: 0.5s;
  overflow: hidden;

  &.white_color__ {
    border-color: #fff;

    &::after {
      filter: brightness(0) invert(1);
    }

    &:hover {
      background-color: #fff;

      &::after {
        filter: brightness(0);
      }
    }
  }

  &.swiper-button-disabled {
    border: 1px solid transparent;
    background-color: $greyColor;
    opacity: 1;

    &.white_color__ {
      background-color: rgba(#fff, 0.2);
    }
  }

  &::after {
    content: url("../images/shapes/arrow-right.svg");
    display: block;
    position: static;
    height: 64px;
    transform: unset;

    @include dir {
      transform: rotateY(-180deg);
    }
  }

  &:hover {
    background-color: $secondaryColor;

    &::after {
      filter: brightness(0) invert(1);
    }
  }

  &.single_page_button {
    position: static;
    border: 1px solid $borderColor;

    &::after {
      content: url("../images/shapes/arrow-right.svg");
      filter: brightness(0.8) grayscale(1);
    }

    &:hover {
      background-color: $primaryColor;
      border-color: $primaryColor;

      &::after {
        filter: unset;
      }
    }
  }
}

.swiper-button-next {
  &::after {
    transform: rotateY(-180deg);

    @include dir {
      transform: rotateY(0);
    }
  }
}

// swiper-pagination
.swiper-pagination {
  position: static;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  position: relative;
  margin: 0 2px;
  border-radius: 7px !important;
  opacity: 1;
  height: 16px !important;
  width: 16px !important;
  background-color: transparent;
  border: 1px solid $secondaryColor;
  border-radius: 50%;
  margin-top: 20px;
  transition: 0.5s;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    background-color: transparent;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
  }

  &.swiper-pagination-bullet-active {
    // background-color   : $primaryColor;
    background-color: $secondaryColor;
  }
}

// ================================================================
// Client pagination
// ================================================================
.clients_swiper_pagination {
  .swiper-pagination-bullet {
    height: 10px !important;
    width: 10px !important;
    border-color: $secondaryColor;
  }

  .swiper-pagination-bullet-active {
    // background-color   : $primaryColor;
    background-color: $secondaryColor;
    width: 40px !important;
  }
}
// ================================================================
// Intro pagination
// ================================================================
.intro_swiper_pagination {
  position: absolute;
  bottom: 45px;
  left: 50%;
  transform: translateX(-50%);
  gap: 6.5rem;

  @include xs {
    bottom: 20px;
    gap: 1rem;
  }



  .swiper-pagination-bullet {
    position: relative;
    margin: 0 2px;
    opacity: 1;
    height: 16px !important;
    width: 16px !important;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 50%;
    margin-top: 20px;
    transition: 0.5s;

    &:not(:last-child) {
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        inset-inline-start: calc(100% + 1px);
        width: 70px;
        height: 1px;
        background-image: linear-gradient(
          90deg,
          #fff,
          #fff 50%,
          transparent 50%,
          transparent 100%
        );
        background-size: 20px 10px;
        border: none;
        border-radius: 0;
        transition: 0.5s;
        opacity: 0.4;

        @include sm {
          width: 55px;
        }

        @include xs {
          display: none;
        }
      }
    }

    &.swiper-pagination-bullet-active {
      // background-color   : $primaryColor;
      background-color: $secondaryColor;

      &::after {
        opacity: 1;
      }
    }
  }
}

.arrow-sec {
  display: flex;
  align-items: center;

  .swiper-button-prev,
  .swiper-button-next {
    transform: unset;
    margin: 0;
    position: static;
    margin-inline-start: 16px;
    flex-shrink: 0;
  }
}
