.button__ {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  width: fit-content;
  justify-content: center;
  text-decoration: none;
  gap: 10px;
  transition: 0.5s;

  .icon__ {
    flex-shrink: 0;
    transition: 0.5s;
  }

  &.center {
    margin: 0 auto;
  }

  &.default_cursor {
    cursor: default !important;
  }

  &.full_width__ {
    width: 100%;
    min-width: 100%;
  }

  &.full_width_sm__ {
    @include sm {
      min-width: 100%;
      width: 100%;
    }
  }

  &.full_width_xs__ {
    @include xs {
      min-width: 100%;
      width: 100%;
    }
  }

  &.half_width__ {
    width: 50%;
  }

  &.filter_white_icon__ {
    .icon__ {
      filter: brightness(0) invert(1);
    }

    &:hover {
      .icon__ {
        filter: unset;
      }
    }
  }

  &.green_bg_button {
    background-color: $greenColor !important;
    border: 1px solid $greenColor !important;
    color: #fff;

    &:hover {
      background-color: transparent !important;
      color: $greenColor !important;
    }
  }

  &.red_bg_button {
    background-color: $mainRedColor !important;
    border: 1px solid $mainRedColor !important;
    color: #fff;

    &:hover {
      background-color: transparent !important;
      color: $mainRedColor !important;
    }
  }

  &.fixed_size__ {
    min-width: 168px;
    max-width: 168px;
  }

  &.second_fixed_width {
    min-width: 188px;
    max-width: 188px;
  }

  &.margin_start_auto__ {
    margin-inline-start: auto;
  }

  &.margin_top__ {
    margin-top: 40px;

    @include xs {
      margin-top: 10px;
    }
  }

  &.small_margin_top__ {
    margin-top: 20px;

    @include xs {
      margin-top: 10px;
    }
  }

  &.scale_icon_on_hover {
    &:hover {
      .icon__ {
        transform: scale(1.1);
      }
    }
  }

  &:focus {
    border: none;
    outline: none;
  }

  &:hover {
    text-decoration: none;
  }

  &.main_color_button__ {
    height: 46px;
    background-color: $primaryColor;
    border-color: $primaryColor;
    color: #fff;
    font-weight: 400;
  }

  &.bordered__ {
    background-color: #fff !important;

    &.main_color_button__ {
      color: $primaryColor !important ;
    }
  }

  &.submit-button__,
  input[type="submit"] {
    height: 46px;
    color: #fff;
    padding: 0 20px;
    font-size: 1.6rem;
    font-weight: 700;
    // background-color: $primaryColor;
    // border-radius: $mainBorderRadius;
    background: linear-gradient(
      90deg,
      $primaryColor 0%,
      $secondaryColor 50%,
      $thirdColor 100%
    );

    &:hover {
      opacity: 0.9;
    }
  }

  &.second_color_button__ {
    width: 168px;
    height: 46px;
    background-color: $secondaryColor;
    color: #fff;
    font-weight: 400;
    border-radius: $secondaryBorderRadius;
    border: 1px solid $secondaryColor;

    &:hover {
      background-color: rgba($secondaryColor, 0.9);
    }

    &.bordered__ {
      background-color: transparent;
      color: $secondaryColor;

      &:hover {
        background-color: rgba($secondaryColor, 0.1);
      }
    }
  }
}
