.close-button__ {
  display: block;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  flex-shrink: 0;
  background: linear-gradient(
    90deg,
    rgba($primaryColor, 0.2) 0%,
    rgba($secondaryColor, 0.2) 50%,
    rgba($thirdColor, 0.2) 100%
  );

  &:hover,
  &:focus {
    outline: none;
    background: linear-gradient(
      90deg,
      rgba($primaryColor, 1) 0%,
      rgba($secondaryColor, 1) 50%,
      rgba($thirdColor, 1) 100%
    );

    img {
      filter: brightness(0) invert(1);
    }
  }

  @include xs {
    width: 40px;
    height: 40px;
  }
}
