
// Noor Fonts
@font-face {
  font-family: "Noor";
  src: url("../fonts/Noor/AGCLight.ttf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noor";
  src: url("../fonts/Noor/AGCRegular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noor";
  src: url("../fonts/Noor/AGCBold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
