.link__ {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  gap: 10px;
  transition: 0.5s;

  &:hover {
    text-decoration: none;
  }

  &.center {
    margin: 0 auto;
  }

  &.full_width__ {
    width: 100%;
    min-width: 100%;
  }

  &.full_width_sm__ {
    @include sm {
      min-width: 100%;
      width: 100%;
    }
  }

  &.full_width_xs__ {
    @include xs {
      min-width: 100%;
      width: 100%;
    }
  }

  &.fixed_size__ {
    min-width: 140px;
  }



  &.main_link {
    height: 46px;
    color: #fff;
    padding: 0 30px;
    font-size: 1.4rem;
    background: $primaryColor;
    border-radius: $mainBorderRadius;
    
    &:hover {
      background-color: rgba($primaryColor, 0.9);
    }
  }
  
  &.second_color_link__ {
    height: 46px;
    border-radius: $mainBorderRadius;
    padding: 0 30px;
    background-color: $secondaryColor;
    color: #fff;
    
    &:hover {
      background-color: rgba($secondaryColor, 0.9);
    }

    &.bordered__ {
      background-color: transparent;
      color: $secondaryColor;
      border: 1px solid $secondaryColor;

      &:hover {
        background-color: rgba($secondaryColor, 0.1);
      }
    }
  }

  &.download_pdf__ {
    background: linear-gradient(90deg, $primaryColor 0%, $secondaryColor 50%, $thirdColor 100%);
    width: 100%;
    min-height: 53px;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 700;

    &:hover {
      background: linear-gradient(90deg, rgba($primaryColor, 0.9) 0%, rgba($secondaryColor, 0.9) 50%, rgba($thirdColor, 0.9) 100%);
    }
  }

  &.hero_link__ {
    background-color: #fff;
    color: $headingMainColor;
    padding: 0 50px;
    height: 5.3rem;
    margin-top: 1rem;
    font-weight: 700;
    border: 1px solid #fff;

    img {
      display: none;
    }

    &:hover {
      background-color: transparent;
      color: #fff;
    }
  }

  &.trip_link__ {
    background: linear-gradient(90deg, $primaryColor 0%, $secondaryColor 50%, $thirdColor 100%);
    width: 100%;
    min-height: 53px;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 700;
    margin-top: 2.4rem;

    &:hover {
      background: linear-gradient(90deg, rgba($primaryColor, 0.9) 0%, rgba($secondaryColor, 0.9) 50%, rgba($thirdColor, 0.9) 100%);
    }
  }

  &.section_card_link__ {
    background-color: rgba(#fff , 0.29);
    // height: 53px;
    flex-shrink: 0;
    gap: 0;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    height: 0;
    margin: 0;

    .text__ {
      font-size: 1.4rem;
      font-weight: 400;
      color: #fff;
      width: 100%;
      text-align: center;
      transition: 0.5s;
    }
    
    .icon__ {
      background-color: #fff;
      height: 100%;
      // aspect-ratio: 1 / 1;
      width: 53px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-inline-start: auto;
      margin: 0;
      transition: 0.5s;

      img {
        transform: rotate(90deg);
        max-width: 21px;
        max-height: 21px;
      }
    }

    &:hover {
      background-color: rgba(#fff , 1);

      .text__ {
        color: $secondaryColor;
      }

      .icon__ {
        background-color: $secondaryColor;

        img {
          filter: brightness(0) invert(1);
        }
      }
    }
  }

  &.footer_link__ {
    background-color: rgba(#fff , 0.09);
    border-radius: 7px;
    font-weight: 400;
    font-size: 1.6rem;
    width: 240px;
    height: 43px;
    justify-content: flex-start;
    color: #fff;
    padding: 12px 20px;

    @include xs {
      width: 100%;
    }

    &:hover {
      background-color: rgba(#fff , 0.2);
    }
  }
}
