
// overlay
.overlay {
    display: none;

        display         : block;
        width           : 100%;
        height          : 100%;
        background-color: #000;
        position        : fixed;
        top             : 0;
        left            : 0;
        bottom          : 0;
        right           : 0;
        z-index         : 11;
        transition      : 0.5s;
        opacity         : 0;
        visibility      : hidden;

        &.active {
            opacity   : 0.7;
            visibility: visible;
        }
    
}
