.alert_wrapper {
  background-color: rgba($mainRedColor , 0.06);
  padding: 1.3rem 2.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 320px;
  gap: 0.5rem;

  .alert__ {
    font-size: 1.4rem;
    font-weight: 400;
    color: $mainRedColor;
    align-items: center;
    gap: 0.5rem;
  }
}