.branches_card {
  .map__ {
    margin-bottom: 2.5rem;
  }

  iframe {
    height: 240px;
    width: 100%;
    border-radius: $mainBorderRadius;
  }

  .title__ {
    font-size: 2rem;
    font-weight: 700;
    color: $headingMainColor;
    margin-bottom: 2rem;
  }

  .parag__ {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.6rem;
    font-weight: 400;
    color: $paragraphMainColor;
  }
}