.client_card {
  box-shadow: 0 0 30px rgba(#acacac ,0.3);
  padding: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  transition: 0.5s;

  .figure__ {
    max-width: 210px;
    max-height: 140px;
  }

  &:hover {
    box-shadow: 0 0 30px rgba(#acacac ,0.6);


    .img-om {
      transform: scale(1.1);
    }
  }
}