.custom_dropdown__ {
  position: relative;
  width: 100%;
  padding: 0;

  > .button__ {
    position: relative;

    &::after {
      content: url("../images/shapes/arrow_down.svg");
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      inset-inline-end: 15px;
      width: 21px;
      height: 21px;
      filter: grayscale(1);
    }
  }

  .dropdown_menu__ {
    position: absolute;
    top: 100%;
    width: 100%;
    inset-inline-end: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    transition: opacity 0s;
    background-color: transparent;
    overflow: hidden;

    li {
      a,
      button {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
        font-size: 1.6rem !important;
        color: $paragraphMainColor !important;
        padding: 0.8rem 0;
        width: 100%;

        &:hover {
          color: $primaryColor !important;
        }
      }
    }
  }

  &.show {
    .button__ {
      color: $secondaryColor !important;

      &::after {
        transform: translateY(-50%) rotate(180deg);
        filter: grayscale(0);
      }
    }

    .dropdown_menu__ {
      position: relative !important;
      top: 100%;
      opacity: 1;
      visibility: visible;
      border-start-end-radius: 0;
    }
  }
}
