.gallery_wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  gap: 0.5rem;

  @include xs {
    grid-template-columns: 1fr 1fr; 
  }
}

.gallery_card {
  position: relative;
  overflow: hidden;
  
  .figure__ {
    padding-bottom: 87.71929%;
    position: absolute;
    inset: 0;
    height: 100%;
    z-index: -1;
    transition: 0;

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background-color: rgba(#000, 0.41);
      opacity: 0;
    }
  }
  
  .content_wrapper__ {
    min-height: 290px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 2.5rem;
    max-height: 0;
    opacity: 0;
    transition: 0.5s;
  }
  
  .title__ {
    font-size: 1.8rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 1rem;
  }

  .parag__ {
    font-size: 1.4rem;
    font-weight: 400;
    color: #fff;
    line-height: 2.5rem;
  }

  &:hover {
    text-decoration: none !important;

    
  .figure__ {
    &::after {
      opacity: 1;
    }

    .img-om {
      transform: scale(1.1) rotate(4deg);
    }
  }

    .content_wrapper__ {
      max-height: 100%;
      opacity: 1;
    }
  }
}