.page_main_title__ {
  font-size: 2.5rem;
  font-weight: 700;
  width: fit-content;
  color: $secondaryColor;
  margin-bottom: 1.5rem;
  flex-shrink: 0;
  
  @include xs {
    font-size: 2.5rem;
  }
  
  &.none_margin {
    margin-bottom: 0;
  }
  
  &.small_margin_bottom__  {
    margin-bottom: 15px;
  }
}

.page_sub_title__ {
  flex-shrink: 0;
  font-size: 1.4rem;
  font-weight: 400;
  color: $paragraphSecondaryColor;
  margin: 0;
  
  @include xs {
    font-size: 1.2rem;
  }
}

.page_head_wrapper {
  margin-bottom: 30px;

  @include sm {
    margin-bottom: 20px;
  }

  @include xs {
    margin-bottom: 15px;
  }

  &.center {
    .page_main_title__,
    .page_sub_title__ {
      text-align: center;
      margin-inline-end: auto;
      margin-inline-start: auto;
    }
  }

  &.flex_display {
    display: flex;
    align-items: center;

    &.justify_content_between {
      justify-content: space-between;
    }

    &.with_gap__ {
      gap: 5rem;

      @include xs {
        gap: 1.5rem;
      }
    }
  }

  &.small_size_dir_column {
    @include sm {
      gap: 20px;
      flex-direction: column;
    }
  }

  &.small_size_center__ {
    @include sm {
      .page_main_title__,
      .page_sub_title__ {
        margin-inline-end: auto;
        margin-inline-start: auto;
        text-align: center;
      }
    }
  }

  &.none_margin__ {
    margin: 0 !important;
  }
}

.title_icon_wrapper__ {
  display: flex;
  align-items: center;
  gap: 10px;
}

.title_wrapper {
  flex-shrink: 0;
}