.section_main_title__ {
  font-size: 4rem;
  font-weight: 700;
  width: fit-content;
  color: $secondaryColor;
  margin-bottom: 1.5rem;

  @include xs {
    font-size: 2.5rem;
  }

  &.none_margin {
    margin-bottom: 0;
  }

  &.small_margin_bottom__  {
    margin-bottom: 15px;
  }
}

.section_sub_title__ {
  font-size: 1.4rem;
  font-weight: 400;
  color: $paragraphSecondaryColor;
  margin: 0;
  
  @include xs {
    font-size: 1.2rem;
  }
}

.section_head_wrapper {
  margin-bottom: 40px;

  @include sm {
    margin-bottom: 25px;
  }

  @include xs {
    margin-bottom: 15px;
  }

  &.large_margin_bottom {
    margin-bottom: 7.3rem;

    @include sm {
      margin-bottom: 4.5rem;
    }

    @include xs {
      margin-bottom: 2rem;
    }
    
  }

  &.center {
    .section_main_title__,
    .section_sub_title__ {
      text-align: center;
      margin-inline-end: auto;
      margin-inline-start: auto;
    }
  }

  &.flex_display {
    display: flex;
    align-items: center;

    &.justify_content_between {
      justify-content: space-between;
    }
  }

  &.white_color__ {
    .section_main_title__,
    .section_sub_title__ {
      color: #fff;

      &::after , 
      &::before {
        background-color: #fff;
      }
    }
  }

  &.small_size_dir_column {
    @include sm {
      gap: 20px;
      flex-direction: column;
    }
  }

  &.small_size_center__ {
    @include sm {
      .page_main_title__,
      .page_sub_title__ {
        text-align: center;
        margin-inline-start: 0;
        margin-inline-end: 0;
      }
    }
  }
  
  &.about_us__ {
    position: relative;
    padding-bottom: 4rem;

    .section_main_title__ {
      font-size: 3rem;
    }

    &::after {
      content: '';
      position: absolute;
      inset-inline-start: -50px;
      bottom: 0;
      height: 12px;
      width: 150px;
      background-color: rgba($primaryColor , 0.3);

      @include sm {
        inset-inline-start: 0;
      }
    }


  }

  &.none_margin__ {
    margin: 0 !important;
  }

  &.second_head_wrapper__ {
    margin-bottom: 3.5rem;

    .section_main_title__ {
      font-size: 4rem;
      color: $headingMainColor;
    }

    .section_sub_title__ {
      font-size: 1.8rem;
      color: $paragraphSecondaryColor;
    }
  }
}

.title_icon_wrapper__ {
  display: flex;
  align-items: center;
  gap: 10px;
}
