.our_values_card__ {
  background-color: rgba($secondaryColor, 0.1);
  padding: 5rem;
  position: relative;

  .icon__ {
    margin-bottom: 5.7rem;
    position: relative;
    z-index: 5;
    max-width: 70px;
    max-height: 70px;

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: calc(100% + 23px);
      height: 5px;
      width: 46px;
      background: linear-gradient(
        90deg,
        $primaryColor 0%,
        $secondaryColor 50%,
        $thirdColor 100%
      );
      opacity: 0.39;
      z-index: 5;
      transition: all 0.5s;
    }
  }

  .title__ {
    text-align: center;
    font-size: 2.1rem;
    font-weight: 400;
    color: $headingMainColor;
    position: relative;
    z-index: 5;
    transition: all 0.5s;
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;
    background: linear-gradient(
      160deg,
      $primaryColor 0%,
      $secondaryColor 50%,
      $thirdColor 100%
    );
    opacity: 0;
    transition: all 0.5s;
  }

  &:hover {
    .icon__ {
      // filter: brightness(0) invert(1);

      &::after {
        background: unset;
        background-color: #fff;
        opacity: 1;
      }
    }

    .title__ {
      color: #fff;
    }

    &::after {
      opacity: 1;
    }
  }
}
