.section_card__ {
  position: relative;
  display: block;
  overflow: hidden;
  // min-height: 620px;
  width: 100%;

  .figure__ {
    padding-bottom: 153.4653%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background-color: rgba(#000, 0.41);
    }
  }

  .content_wrapper__ {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 4rem 2.5rem;
    min-height: 620px;
  }

  .title__ {
    font-size: 2.5rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 1.5rem;
  }

  .parag__ {
    font-size: 1.4rem;
    font-weight: 400;
    color: #fff;
    overflow: hidden;
    line-height: 2.5rem;
    max-height: calc(2.5rem * 2);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    transition: max-height 0.5s ease;
  }

  &:hover {
    text-decoration: none !important;
    
    .parag__ {
      -webkit-line-clamp: unset;
      max-height: none;
    }

    .section_card_link__ {
      opacity: 1;
      visibility: visible;
      height: 53px;
      margin-top: 3.7rem;
    }
  }
}
