.statistics_wrapper__ {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 15px;
}

.statistic__ {
  .number_wrapper__ {
    font-size: 5.3rem;
    font-weight: 700;
    color: #fff;
    text-align: center;
    line-height: 1.2;
    margin-bottom: 10px;
    direction: ltr;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin-bottom: 2.5rem;
  }

  .title__ {
    font-size: 2.2rem;
    font-weight: 700;
    color: $secondaryColor;
    text-align: center;
    line-height: 1.2;
    text-transform: capitalize;
    background-color: #fff;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}