.trips_card__ {
  display: flex;
  background-color: #fff;
  box-shadow: 0 0 60px rgba(#898989 , 0.2);

  @include xxs {
    flex-direction: column;
  }

  .img_wrapper__ {
    min-width: 226px;

    @include xs {
      min-width: 150px;
    }
  }

  .figure__ {
    padding-bottom: 147.3451%;
    overflow: hidden;
    
    @include xs {
      height: 100%;
    }
    
    @include xxs {
      padding-bottom: 100%;
    }
  }

  .content_wrapper__ {
    padding: 3.3rem 3rem;
    width: 100%;

    @include xxs {
      padding: 1.5rem;
    }
  }

  .title__ {
    font-size: 1.9rem;
    font-weight: 700;
    color: $headingMainColor;
    margin-bottom: 2.4rem;
  }

  &:hover {
    text-decoration: none;

    .img-om {
      transform: scale(1.1);
    }
  }
}

.trip_info_wrapper__ {
  .trip_info_item__ {
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
    font-size: 1.3rem;
    font-weight: 400;
    color: $paragraphMainColor;
    gap: 1.5rem;

    &:not(:last-of-type) {
      margin-bottom: 1.5rem;
    }
  }

  .name__ {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .info__ {
    color: $headingMainColor;
    font-size: 1.4rem;
  }
}